@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  scroll-behavior: smooth;
}
.containerr{
  @apply xl:px-[50px] lg:px-[30px] md:px-[20px] px-[15px]
}
.parda{
  background-image: url(./assets/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.parda::after{
  content:" ";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0, 40, 0.5);
  z-index: 1;
}